* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  place-content: center;
  place-items: center;
  height: 100vh;
  background-color: blueviolet;
  background-position: center;
  background-size: cover;
}